.footer {
  border-top: 1px solid var(--color-border);
  margin-top: 5rem;
}
.footerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: center;
  color: var(--color-text-medium);
}

.footerContent svg {
  margin-right: .2rem;
  transform: translateY(0.5rem);
}

.footerCredit a {
  color: var(--color-primary);
}