.galleryGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.galleryItem {
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-lg);
  aspect-ratio: 1 / 1;
}
.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.galleryItem:hover .galleryImage {
  transform: scale(1.1);
}


@media (min-width: 768px) {
  .galleryGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .galleryGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}