.header {
  position: sticky;
  top: 0;
  z-index: 40;
  width: 100%;
  background-color: rgba(24, 24, 27, 0.8);
  backdrop-filter: blur(4px);
  box-shadow: var(--shadow-md);
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  
}

.headerLogo {
  font-size: 1.975rem;
  font-weight: 700;
  font-family: var(--font-heading);
  color: var(--color-primary);
  text-shadow:
    0 0 4px rgba(255, 255, 255, 0.9),
    /* brilho interno */
    0 0 12px var(--color-primary),
    /* brilho colorido */
    0 0 28px rgba(0, 0, 0, 0.25);
  /* profundidade/halo */
}

.headerLinks {
  display: none;
  gap: 2rem;
}
.headerLinks a {
  transition: color 0.3s ease;
}
.headerLinks a:hover {
  color: var(--color-primary);
  transform: scale(1.10);
  
}

.headerCta {
  display: none;
  background-color: var(--color-primary);
  color: var(--color-text-dark);
  font-weight: 700;
  padding: 0.5rem 1.25rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s ease;
}
.headerCta:hover {
  background-color: var(--color-primary-dark);
}

.headerMobileToggle {
  display: block;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--color-text-light);
}

/* Menu Mobile */
.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg);
  z-index: 50;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.mobileMenuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}
.mobileMenuNav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  margin-top: 2rem;
}
.mobileMenuNav a {
  font-size: 1.5rem;
  font-family: var(--font-heading);
  padding: 0.5rem;
}
.mobileMenuNav a:hover {
  color: var(--color-primary);
}
.mobileMenuCta {
  margin-top: 2rem;
  background-color: var(--color-primary);
  color: var(--color-text-dark);
  font-weight: 700;
  padding: 0.75rem 2rem;
  border-radius: 0.375rem;
  font-size: 1.125rem;
  text-align: center;
}

@media (min-width: 768px) {
  .headerLinks {
    display: flex;
  }
  .headerCta {
    display: block;
  }
  .headerMobileToggle {
    display: none;
  }
  .mobileMenu {
    display: none;
  }
}