.hero {
  position: relative;
  width: 100%;
  text-align: center;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: min(90%, 1200px);
  height: 80%;
  background: radial-gradient(circle at center,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.7) 50%,
      rgba(0, 0, 0, 0.3) 100%);
  border-radius: var(--border-radius);
  pointer-events: none;
  padding: 1rem;

}


.heroTitle {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  white-space: normal;
  margin: 0 clamp(1rem, 3vw + 2rem, 9rem);
  color: wheat;
  text-shadow:
    0 0 4px rgba(255, 255, 255, 0.9),
    /* brilho interno */
    0 0 12px var(--color-primary),
    /* brilho colorido */
    0 0 28px rgba(0, 0, 0, 0.25);
  /* profundidade/halo */
  -webkit-font-smoothing: antialiased;

}

.heroTitle span {
  color: var(--color-primary);
  text-shadow:
    0 0 6px rgba(255, 255, 255, 0.9),
    0 0 18px var(--color-primary),
    0 0 30px rgba(0, 0, 0, 0.2);
}

.heroSubtitle {
  max-width: clamp(20rem, 80%, 40rem);
  color: var(--color-text-light);
  font-size: 2.3rem;
  margin: 0 clamp(1rem, 3vw + 2rem, 9rem);
  position: relative;
  z-index: 2;
  white-space: normal;

  text-shadow:
    0 0 3px rgba(255, 255, 255, 0.85),
    0 0 10px var(--color-primary),
    0 0 18px rgba(0, 0, 0, 0.2);

  -webkit-font-smoothing: antialiased;

}

.heroSubtitle p {
  font-size: 2.1rem;
  margin: 0 clamp(1rem, 3vw + 2rem, 9rem);
  position: relative;
  z-index: 2;
  white-space: normal;
}

.heroCta {
  margin-top: 1rem;
  background-color: var(--color-primary);
  color: var(--color-text-dark);
  font-weight: 700;
  padding: 0.75rem 2rem;
  border-radius: 0.375rem;
  font-size: 1.125rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  z-index: 2;
}

.heroCta:hover {
  background-color: var(--color-primary-dark);
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .hero {
    background: fixed url('/hero-bg.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .hero img {
    display: none;
  }
  .heroTitle {
    font-size: 4.5rem;
  }

  .heroSubtitle {
    font-size: 2rem;
  }
}