.floatingWhatsapp {
  position: fixed;
  bottom: 3.5rem;
  right: 1.5rem;
  z-index: 50;
  background-color: var(--color-whatsapp);
  color: white;
  padding: .7rem ;
  border-radius: 9999px;
  box-shadow: var(--shadow-lg);
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.floatingWhatsapp:hover {
  background-color: var(--color-whatsapp-hover);
  transform: scale(1.1);
}